:root {
	--custom-bg-color: rgb(52, 52, 56);
}

html {
	min-height: 100%;
}

body {
	background: var(--custom-bg-color);
}

.dark-footer-border-bottom {
	border-bottom: 1px solid var(--custom-bg-color);
}

/*  Style the thumb of the range input slider */
/* it wouldn't let me stack the pseudo elements */
.range-input-slider::-webkit-slider-thumb {
    background-color: var(--bs-secondary);
    border: 1px solid var(--custom-bg-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
.range-input-slider::-moz-range-thumb {
    background-color: var(--bs-secondary);
    border: 1px solid var(--custom-bg-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
.range-input-slider::-ms-thumb {
    background-color: var(--bs-secondary);
    border: 1px solid var(--custom-bg-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
