:root {
	--custom-bg-color: rgb(52, 52, 56);
	
	/* custom colors used primarily for buttons */
	--custom-btn-text-color: orange;
	--custom-outline-color: rgba(255, 166, 0, 0.63); /* the buttons don't use this */
	--custom-btn-base-color: #53000e;
	--custom-btn-hover-color: #42000b;
	--custom-btn-click-color: #2b0007;
}

html {
	min-height: 100%;
}

body {
	background: var(--custom-bg-color);
}


.dark-footer-border-bottom {
	border-bottom: 1px solid var(--custom-bg-color);
}


/* for text in join-tournament-element */
.extra-small {
    font-size: 0.70rem;
}

.tournament-max-width {
	max-width: 1000px;
}

.nav-link:focus-visible {
	outline: 4px solid var(--custom-outline-color);
}

input:focus {
	outline: 4px solid var(--custom-outline-color) !important; /* the !important is needed to override the default outline */
	border-color: var(--custom-btn-text-color) !important; /* the !important is needed to override the default outline */
}

/* custom button colors */
.btn-custom {
	--bs-btn-color: var(--custom-btn-text-color);
	--bs-btn-bg: var(--custom-btn-base-color);
	--bs-btn-border-color: var(--custom-btn-base-color);
	--bs-btn-hover-color: var(--custom-btn-text-color);
	--bs-btn-hover-bg: var(--custom-btn-hover-color);
	--bs-btn-hover-border-color: var(--custom-btn-color);
	--bs-btn-focus-shadow-rgb: 255,165,0; /* orange (--custom-btn-text-color) */
	--bs-btn-active-color: var(--custom-btn-text-color);
	--bs-btn-active-bg: var(--custom-btn-click-color);
	--bs-btn-active-border-color: var(--custom-btn-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--custom-btn-text-color);
	--bs-btn-disabled-bg: var(--custom-btn-base-color);
	--bs-btn-disabled-border-color: var(--custom-btn-base-color);
}
.btn-outline-custom {
	--bs-btn-color: var(--custom-btn-text-color);
	--bs-btn-border-color: var(--custom-btn-text-color);
	--bs-btn-hover-color: var(--custom-btn-text-color);
	--bs-btn-hover-bg: var(--custom-btn-base-color);
	--bs-btn-hover-border-color: var(--custom-btn-base-color);
	--bs-btn-focus-shadow-rgb: 255,165,0; /* orange (--custom-btn-text-color) */
	--bs-btn-active-color: var(--custom-btn-text-color);
	--bs-btn-active-bg: var(--custom-btn-base-color);
	--bs-btn-active-border-color: var(--custom-btn-base-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--custom-btn-text-color);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--custom-btn-text-color);
	--bs-gradient: none;
}


/*  Style the thumb of the range input slider */
/* it wouldn't let me stack the pseudo elements */
.range-input-slider::-webkit-slider-thumb {
    background-color: var(--custom-btn-base-color);
    border: 1px solid var(--custom-btn-text-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
.range-input-slider::-moz-range-thumb {
	background-color: var(--custom-btn-base-color);
    border: 1px solid var(--custom-btn-text-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
.range-input-slider::-ms-thumb {
    background-color: var(--custom-btn-base-color);
    border: 1px solid var(--custom-btn-text-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}

input[type="range"]:focus::-webkit-slider-thumb {
	background: var(--custom-btn-hover-color);
	outline: 2px solid var(--custom-outline-color);
}
input[type="range"]:focus::-moz-range-thumb {
	background: var(--custom-btn-hover-color);
	outline: 3px solid var(--custom-outline-color);
}
input[type="range"]:focus::-ms-thumb {
	background: var(--custom-btn-hover-color);
	outline: 2px solid var(--custom-outline-color);
}

input[type="range"] {
	outline: none !important; /* the !important is needed to override my custom outline which is also important */
}