:root {
	--bs-font-size-base: 1rem;
	--bs-text-secondary: #a9acad;
	--custom-bg-color: rgb(52, 52, 56);
	
	/* custom colors used primarily for buttons */
	/* --custom-btn-text-color: orange;
	--custom-outline-color: rgba(255, 166, 0, 0.63); */ /* the buttons don't use this */
	/* --custom-btn-base-color: #53000e;
	--custom-btn-hover-color: #42000b;
	--custom-btn-click-color: #2b0007; */

	--custom-btn-text-color: rgb(94, 169, 192);
	--custom-outline-color: rgba(94, 169, 192, 0.411); /* the buttons don't use this */
	--custom-outline-color-rgb : 94, 169, 192; /* the buttons use this one, it needs to be rgb */
	--custom-btn-base-color: #252670;
	--custom-btn-hover-color: #121472;
	--custom-btn-click-color: #0c0d52;
}

footer > p a {
	color: var(--custom-btn-text-color) !important;
}

.text-secondary {
	color: var(--bs-text-secondary) !important;
}

body {
	background: var(--custom-bg-color);
}

* {
	font-size: var(--bs-font-size-base);
}

.bg-custom {
	background: var(--custom-bg-color);
}

.dark-footer-border-bottom {
	border-bottom: 1px solid var(--custom-bg-color);
}


/* for text in join-tournament-element */
.extra-small {
    font-size: 0.70rem;
}

.tournament-max-width {
	max-width: 1000px;
}

.canvas-container {
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
}

.lobby-player-sidebar {
	width: 225px;
	border-top: var(--custom-bg-color) 2px solid;
	border-bottom: var(--custom-bg-color) 2px solid;
}

.extra-small-profile-image {
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: block;
	margin: 0 auto 1rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
.small-profile-image {
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: block;
	margin: 0 auto 1rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}
.big-profile-image {
	width: 150px;
	height: 150px;
	cursor: pointer;
	display: block;
	margin: 0 auto 1rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.error-toast {
	background-color: var(--bs-danger-bg-subtle);
	border: 1px solid var(--bs-danger-border-subtle);
	color: var(--bs-danger-text-emphasis);
}


/*  Style the thumb of the range input slider */
/* it wouldn't let me stack the pseudo elements */
.range-input-slider::-webkit-slider-thumb {
	background-color: var(--custom-btn-base-color);
    border: 1px solid var(--custom-btn-text-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
.range-input-slider::-moz-range-thumb {
	background-color: var(--custom-btn-base-color);
    border: 1px solid var(--custom-btn-text-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}
.range-input-slider::-ms-thumb {
	background-color: var(--custom-btn-base-color);
    border: 1px solid var(--custom-btn-text-color);
	cursor: pointer;
	height: 16px;
	width: 16px; /* is also set as "this.thumb_width" in "JoinTournamentPage.js" to calculate the position of the value display. So if you change it, change it there as well. */
}


/* only needed when you use custom colors */
/* ###################################### */
input[type="range"]:focus::-webkit-slider-thumb {
	background: var(--custom-btn-hover-color);
	outline: 2px solid var(--custom-outline-color);
}
input[type="range"]:focus::-moz-range-thumb {
	background: var(--custom-btn-hover-color);
	outline: 3px solid var(--custom-outline-color);
}
input[type="range"]:focus::-ms-thumb {
	background: var(--custom-btn-hover-color);
	outline: 2px solid var(--custom-outline-color);
}

input:focus {
	outline: 4px solid var(--custom-outline-color) !important; /* the !important is needed to override the default outline */
	border-color: var(--custom-btn-text-color) !important; /* the !important is needed to override the default outline */
}

input[type="range"] {
	outline: none !important; /* the !important is needed to override my custom outline for input:focus which is also important */
}
.nav-link:focus-visible {
	outline: 4px solid var(--custom-outline-color);
}
/* ###################################### */

/* custom button colors */
.btn-custom {
	--bs-btn-color: var(--custom-btn-text-color);
	--bs-btn-bg: var(--custom-btn-base-color);
	--bs-btn-border-color: var(--custom-btn-base-color);
	--bs-btn-hover-color: var(--custom-btn-text-color);
	--bs-btn-hover-bg: var(--custom-btn-hover-color);
	--bs-btn-hover-border-color: var(--custom-btn-color);
	--bs-btn-focus-shadow-rgb: var(--custom-outline-color-rgb);
	--bs-btn-active-color: var(--custom-btn-text-color);
	--bs-btn-active-bg: var(--custom-btn-click-color);
	--bs-btn-active-border-color: var(--custom-btn-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--custom-btn-text-color);
	--bs-btn-disabled-bg: var(--custom-btn-base-color);
	--bs-btn-disabled-border-color: var(--custom-btn-base-color);
}
.btn-outline-custom {
	--bs-btn-color: var(--custom-btn-text-color);
	--bs-btn-border-color: var(--custom-btn-text-color);
	--bs-btn-hover-color: var(--custom-btn-text-color);
	--bs-btn-hover-bg: var(--custom-btn-base-color);
	--bs-btn-hover-border-color: var(--custom-btn-base-color);
	--bs-btn-focus-shadow-rgb: var(--custom-outline-color-rgb);
	--bs-btn-active-color: var(--custom-btn-text-color);
	--bs-btn-active-bg: var(--custom-btn-base-color);
	--bs-btn-active-border-color: var(--custom-btn-base-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--custom-btn-text-color);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--custom-btn-text-color);
	--bs-gradient: none;
}
