
channels[daphne]==4.2.0
django-sslserver==0.22

# For daphne
channels-redis==4.2.1
redis==5.2.1
psycopg==3.2.3

djangorestframework==3.15.2
djangorestframework_simplejwt[crypto]==5.3.1

# sending async http requests - pip install httpx[http2] instead if HTTP/2 support is needed
httpx==0.28.1


requests==2.32.3 # for sending requests to other services