[flake8]

import-order-style = google
application-import-names = pong

ignore = E501,F401,F841
#    */filepath/*: E501
#    */filepath/file.py: E501

exclude =
    .git,
    __pycache__,
    .venv,
    .vscode,
    nginx,

filename = *.py
accept-encodings = utf-8
max-complexity = 12
max-line-length = 119
