psycopg2-binary==2.9.10
djangorestframework==3.15.2
djangorestframework_simplejwt[crypto]==5.3.1
pillow==11.0.0 # image lib
django-cors-headers==4.6.0 # for cookies

# For daphne 
asgiref==3.8.1
channels[daphne]==4.2.0

# redis
channels-redis==4.2.1
redis==5.2.1
